.main-nav {
  height: 64px;
  /* background-color: black; */
}
.amazone-img {
  height: 69px;
}

.amazone-search:hover {
  border: 3px solid #febd69;
}
#demo-customized-button:hover {
  background-color: #a3a0a0;
}

.Account-list:hover {
  margin-top: 10px;
  border: 2px solid white;
  background-color: #fff;
}
