.main-nav {
  /* height: 64px; */
  /* background-color: black; */
}
.amazone-img {
  height: 69px;
}
.amazone-img:hover {
  border: 2px solid white;
}
.amazone-search:hover {
  border: 3px solid #febd69;
}
.deliveryAndupdate:hover {
  border: 2px solid white;
}

#demo-customized-button2:hover {
  background-color: transparent;
  /* text-transform: capitalize; */
}
#demo-customized-button:hover {
  background-color: #a3a0a0;
  text-transform: capitalize;
}

.Account-list:hover {
  margin-top: 0px;
  border: 2px solid white;
  background-color: #fff;
}

.returnOrder:hover {
  margin-top: 0px;

  border: 2px solid white;
}
.cartIcon:hover {
  margin-top: 0px;

  border: 2px solid white;
}
.tooltips {
  text-transform: capitalize;
}
.tooltips:hover {
  border: 2px solid white;
}
.services:hover {
  border: 2px solid white;
  line-height: 0;
  letter-spacing: 0;
}
.shoppingEasyLine:hover {
  border: 2px solid white;
}
.menuIcon:hover {
  border: 2px solid white;
  border-radius: 0;
}
.ListTag {
  /* list-style: none; */
  /* margin: 0px, */
  /* padding: 0; */
  /* position: relative; */
  /* padding-top: 17px; */
  /* padding-bottom: 2px; */
}
.image,
.image-1,
.image-2,
.image-3,
.image-4,
.image-5 {
  /* /* max-width: 100%; */
  width: 100%;
  height: 120vh;
  position: relative;
}
.UserIcon {
  width: 2.5rem;
  height: 1em;
}
.btn {
  /* margin-top: 10px; */
  position: absolute;
  top: 17%;
}
.left-btn {
  position: absolute;
  left: 0rem;
  background: transparent;
  border: none;
}
.right-btn {
  position: absolute;
  background: transparent;
  border: none;
  left: 88rem;
}
.Arrow:hover {
  border: 1px solid rgb(10, 120, 222);
  color: #7a7373;
}
.secondCardSection {
  background-image: linear-gradient(#feb451, #fff);
}
.countryDropdown:hover {
  border: 1px solid white;
}
.buttonStyle {
  width: 20rem;
  height: 1.7rem;
  text-transform: capitalize;
  background: #ffd814;
  color: #000;
}
.buttonStyle:hover {
  background: #ffd814 !important;
}
